<% stylesheet_link_tag 'users/index' %>
<div class="p-10 flex flex-col gap-7">
  <%= render 'users/user_tile', user: @user %>
  <div id="box-border" class="p-4 flex flex-col gap-4 border-solid">
    <p class="text-base font-bold">Bio</p>
    <p><%= @user.bio %></p>
    <%= link_to new_user_post_path(@user) do %>
      <button>Create a new Post</button>
    <% end %>
  </div>
   <ul>
    <% @all_posts.each do |post| %>
      <li>
          <%= render 'posts/post_tile', post: post, user:@user, expanded: false %>
      </li>
    <% end %>
  </ul>
  <div class="flex justify-center">
    <%= link_to user_posts_path(@user) do %>
      <button id="box-border" class="h-10 w-32 cursor-pointer">See all posts</button>
    <% end %>
  </div>
</div>