<% stylesheet_link_tag 'users/index' %>
<div id="box-border" class="p-4 flex flex-col gap-7">
  <div class="flex space-x-4 justify-between">
    <h2 class="text-xl">Post #<%= post.id %> by <%= @user.name %></h2>
    <div class="flex flex-row gap-5">
      <p>Comments <%= post.comments_counter || 0 %></p>
      <p>Likes <%= post.likes_counter || 0 %></p>
    </div>
  </div>
  <p><%= post.text %></p>
  <div class="flex self-end gap-1">
  <%= link_to new_user_post_comment_path @user, @post do %>
    <button class="h-10 w-32 cursor-pointer">Comment</button>
  <% end %>
  <%= form_with model: Like.new, url: user_post_likes_path(@user, @post), method: :post do %>
    <button class="h-10 w-32 cursor-pointer">Like</button>
  <% end %>
  </div>
</div>